.product-info-container
    position: relative
    display: flex
    flex-direction: column
    height: 387px
    width: 224px
    justify-content: space-between
    margin: 12px
    border: 1px solid rgba(173, 173, 173, 0.25)
    border-radius: 3px

    .info-header
        position: relative
        width: inherit

        .discount
            position: absolute
            background-color: #ffd480
            color: #ffff
            font-size: 12px
            height: 27px
            width: 78px
            display: flex
            justify-content: center
            align-items: center
            bottom: 0
            top: 0

        .product-img
            object-fit: contain
            width: inherit
            height: 154px

        .category
            margin-left: 10px
            font-size: 12px
            font-weight: 400
            color: #adadad

        .product-name
            margin-left: 10px
            font-size: 16px
            margin-top: 7px

    .add-btn
        border: none
        background-color: #3BB77E
        color: #ffff
        width: 204px
        height: 40px
        display: flex
        justify-content: center
        align-self: center
        align-items: center
        font-size: 14px
        margin: 10px
        cursor: pointer

    .btn-disabled
        color: #adadad
        border: none
        background-color: #f3f3f3
        display: flex
        align-items: center
        justify-content: center
        margin: 10px
        height: 40px
        width: 204px
