.login-register-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    .label
        font-weight: 500
        font-size: 14px
        position: relative
        display: flex
        flex-direction: column
        align-self: center
        text-align: start

        .input-container
            border: 1px solid #adadad
            display: flex
            padding: 3px
            background-color: #fff

            .input
                border: none
                color: grey
                font-weight: 500
                font-size: 14px
                padding: 12px
                width: inherit
                height: inherit
                height: 1.4rem

                &:focus
                    outline: none

    .create-link
        width: 15rem
        text-align: center
        word-wrap: wrap
        text-decoration: underline
        cursor: pointer
        font-size: 14px

        .promo
            font-size: 10px
            text-decoration: none

    .input-error
        display: flex
        align-items: center
        flex-direction: row
        height: 2rem
        font-size: 0.9rem
        color: red
        word-wrap: wrap
        max-width: 14rem 

    .login-register-btn
        background-color: #3BB77E
        border: none
        color: #ffff
        width: 204px
        height: 40px
        display: flex
        justify-content: center
        align-self: center
        align-items: center
        font-size: 14px
        margin: 10px 10px 20px 10px
        cursor: pointer
